.bgimg
{
    background-image: url("https://img.freepik.com/free-photo/beautiful-tropical-empty-beach-sea-ocean-with-white-cloud-blue-sky-background_74190-13668.jpg?t=st=1719299627~exp=1719303227~hmac=a385a539f2d43d38f16fb5d9d6dc6f9d3eaf352aafd7e5f735dc69c51c05d308&w=740");
    background-repeat: no-repeat;
    background-size: contain;
    width:500px;
    height:700px;
}