.bgimg{
    background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?cs=srgb&dl=pexels-sebastian-189349.jpg&fm=jpg");
    height:400px;
    width:400px;
    background-repeat: no-repeat;
    background-size: contain;
    
}